<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <h1>Perfumes & Body Splash</h1>
    <div>
        <a class="btn btn-primary" href="/admin/login" role="button">Admin</a>
        <a class="btn btn-primary" href="/login" role="button">Client</a>
    </div>
</div>