# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
webpack/node_modules/

#package-lock
webpack/package-lock.json

# Enviorment files
*.env
*.DS_Store

#VS code
.vscode/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

#node modules
node_modules/

#log files
*.log