<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Cars</title>
    {% include 'dependencies.html' %}
</head>
<body>
    {% include 'headerAdmin.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light h-100" style="width:83%;">
                <div class="align-items-center pt-1 pb-2 mb-3 mt-4">
                    <div class="px-3 animate__animated animate__fadeInDown">
                        <div class="row">
                            <div class="col-6 ">
                                <h2>{{data.page}}</h2>
                            </div>
                            <div class="col-6 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-primary rounded-4" 
                                data-bs-toggle="modal" data-bs-target="#addNew" style="width:150px;">Add new</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-white shadow-primary p-3 rounded-lg mt-4 animate__animated animate__fadeInDown">
                        <div class="row mx-0">
                            <div class="col-lg-9">
                                <div class="mb-2">
                                    <h5 for="buscar" class="form-label">Looking for something?</h5>
                                    <div class="input-group mb-3 bg-light rounded-3 ">
                                        <span class="input-group-text border-0 bg-light"><i class="fas fa-search"></i></span>
                                        <input type="text" class="form-control rounded-3 bg-light" 
                                        onkeyup="searchonfind()" id="barSearch" placeholder="Search id, name...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex justify-content-start align-items-end pb-2">
                                <div class="mb-2 w-100">
                                    <h4 for="buscar" class="form-label"></h4>
                                    <button type="button" class="btn btn-primary rounded-4 d-block w-100">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white shadow-primary py-3 rounded-lg mt-4 animate__animated animate__zoomIn" style="min-height: 570px; overflow-y: auto;">
                        <div class="row m-0 p-1">
                            <div class="col-lg-4 flex-fill d-flex align-items-baseline">
                                <h4 class="">Summary</h4>
                            </div>
                            <div class="col-lg-3 d-inline d-flex justify-content-end align-items-baseline ">
                                <h6 class="text-muted">Show</h6>
                                <div class="ms-2 w-100" id="length">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>All columns</option>
                                        <option value="1">5</option>
                                        <option value="2">10</option>
                                        <option value="3">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg d-flex justify-content-end align-items-baseline">
                                <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-2 d-flex justify-content-end align-items-baseline">
                                <button type="button" class="btn btn-primary rounded-4 d-block w-100" id="dispatchSelected">Delete</button>
                            </div>
                        </div>
                        <div class="row w-100 mx-0" id="divTable">
                            <table class="table table-borderless text-center" id="table" data-order="[[ 1, &quot;asc&quot; ]]">
                                <thead class="table-light-header">
                                    <tr style="max-height: 40px;">
                                        <th scope="col" style="max-height: 40px;">#</th>
                                        <th scope="col" style="max-height: 40px;" data-class-name="priority">Id</th>
                                        <th scope="col" style="max-height: 40px;">Foto</th>
                                        <th scope="col" style="max-height: 40px;">Name</th>
                                        <th scope="col" style="max-height: 40px;">Email</th>
                                        <th scope="col" style="max-height: 40px;">Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    
                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <small id="info" class="d-flex align-items-end"></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </main>
        </div>
    </div>

    <div class="modal fade" id="addNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="addNewLabel">Add new Client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/clientes/add" method="post" id="formAdd">
                        <div class="mb-3">
                            <h5 class="text-dark">Client Name</h5>
                            <input type="text" class="form-control form-control-lg border rounded-4" name="name" id="add_name">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <h5 class="text-dark">Client Email</h5>
                            <input type="email" class="form-control form-control-lg border rounded-4" name="email" id="add_email">
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-lg">
                                <img src="/static/images/profile/avatar.png" width="150px" role="button" 
                                 onclick="selectImage('avatar.png')">
                                 <div id="selectedL">
                                    <span class="badge bg-secondary">Selected</span>
                                </div>
                            </div>
                            <div class="col-lg">
                                <img src="/static/images/profile/avatar1.png" width="150px" role="button" 
                                 onclick="selectImage('avatar1.png')">
                                 <div id="selectedR">
                                    
                                </div>
                            </div>
                            <input type="text" id="fotoSelect" name="foto" value="avatar.png">
                        </div>
                        <!-- <div class="mb-3">
                            <h5 class="text-dark">Client Photo</h5>
                            <input class="form-control border rounded-4" type="file" name="file" id="formFile">
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-light rounded-4" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="formAdd" class="btn btn-primary rounded-4">Add Client</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateClientLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-primary" id="updateClientLabel">Update Client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="sr-only" id="idClient"></span>
                    <div class="mb-3">
                        <h5 class="text-dark">Name</h5>
                        <input type="text" class="form-control form-control-lg border rounded-4" name="name" id="update_name">
                    </div>
                    <div class="mb-3">
                        <h5 class="text-dark">Email</h5>
                        <input type="email" class="form-control form-control-lg border rounded-4" name="email" id="update_email">
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-light rounded-4" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary rounded-4" id="updateConfirm" data-bs-dismiss="modal">Update Client</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        #fotoSelect{
            opacity: 0;
        }
    </style>
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/cars.js"></script>
</body>
</html>