<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Empleados</title>
    {% include 'dependencies.html' %}
</head>
<body class="h-100">
    {% include 'headerAdmin.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="width:80%;">
                <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Empleados</h2>
                </div>
            </main>
        </div>
    </div>
    <script src="/static/js/admin.js"></script>
</body>
</html>