<nav id="sidebarMenu" class="overflow-hidden position-fixed d-flex flex-column flex-shrink-0 col-md-3 col-lg-2 sidebar collapse p-3 text-white bg-primary" 
style="width: 17%; height:95%;">
	<ul class="nav nav-pills flex-column mb-auto mt-2">
		<li class="nav-item">
			<a href="/admin" 
			class="nav-link {% if data.page == 'Dashboard' %} active" aria-current="page" {% else %} text-white" {% endif %} >
				<i class="fas fa-tachometer-alt"></i> &nbsp; Dashboard
			</a>
		</li>
		<li class="nav-item">
			<a href="/admin/clientes"
			class="nav-link {% if data.page == 'Clients' %} active" aria-current="page" {% else %} text-white" {% endif %} >
				<i class="fas fa-user-circle"></i> &nbsp; Clients
			</a>
		</li>
		<li class="nav-item">
			<a href="/admin/empleados" 
			class="nav-link {% if data.page == 'Employees' %} active" aria-current="page" {% else %} text-white" {% endif %} >
				<i class="fas fa-user-tie"></i> &nbsp; Employees
			</a>
		</li>
		<li class="nav-item">
			<a href="/admin/carros" 
			class="nav-link {% if data.page == 'Cars' %} active" aria-current="page" {% else %} text-white" {% endif %} >
				<i class="fas fa-car-alt"></i> &nbsp; Cars
			</a>
		</li>
		<li class="nav-item">
			<a href="/admin/cambiosAceite" 
			class="nav-link {% if data.page == 'Oil Change' %} active" aria-current="page" {% else %} text-white" {% endif %} >
				<i class="fas fa-gas-pump"></i> &nbsp; Oil Change
			</a>
		</li>
	</ul>
    <hr>
    <div class="dropdown">
		<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="/static/images/profile/{{data.user.foto}}" alt="" width="32" height="32" class="rounded-circle me-2">
			<strong>{{data.user.usuario}}</strong>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><a class="dropdown-item" href="#">Perfil</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="/logout">Log out</a></li>
		</ul>
    </div>
</nav>