<div class="position-relative">
    <div class="bg-dark-900 text-white header-continue-back w-100 p-3">
        <h2>Hola ianmora</h2>
    </div>
    <div class="px-3 position-absolute w-100" style="top: 115px;">
        <div class="row mx-0 align-content-stretch">
            <div class="col-md-6">
                <div class="h-100 bg-white rounded-15 shadow-sm py-4 px-3 animate__animated animate__fadeInUp animate__slow">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h6 class="text-dark-100">Ingresos</h6>
                            <h2 class="fw-bold">$100,1002</h2>
                        </div>
                        <div>
                            <p class="text-muted" id="dateIncomeRange">Enero 1 - Julio 4</p>
                        </div>
                    </div>

                    <canvas id="incomeChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 bg-white rounded-15 shadow-sm py-4 px-3 animate__animated animate__fadeInUp animate__slow">
                    <h6 class="text-dark-100">Pedidos</h6>
                </div>

            </div>
        </div>
        <div class="row mx-0 mt-4">
            <div class="col-12">
                <div class="bg-white rounded-15 shadow-sm py-4 px-3 animate__animated animate__fadeInUp animate__slow">
                    <h6 class="text-dark-100">Últimos pedidos</h6>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/admin/panelmain.js"></script>