<div id="alert" style="position: absolute; top:10px; left:4%; z-index:9999999;" class="w-90 d-block">

</div>
<div class="bg-white shadow-custom p-3 animate__animated animate__fadeIn animate__slower mb-3">
    <div>
        <nav class="animate__animated animate__fadeIn" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="/admin/main">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reportes</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold mb-0 animate__animated animate__fadeIn">Reportes</h2>
            <div class="d-flex justify-content-end align-items-center">
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center animate__animated animate__fadeIn">
            <p class="text-muted small mt-1 mb-0 me-3"><i class="fa-solid fa-clock"></i> Actualizado hace: <span id="lastUpdated" class="text-primary">2 seg</span></p>
            <p class="text-muted small mt-1 mb-0"><i class="fa-solid fa-database"></i> Reportes: <span id="totalitems" class="text-primary">20</span></p>
        </div>
    </div>
</div>

<div class="mx-2 mb-3 row mx-0 g-3">
    <div class="col-md-4">
        <div class="bg-white px-4 py-3 shadow-sm rounded-3 animate__animated animate__fadeIn h-100" style="height:155px;animation-delay: 300ms;">
            <div class="d-flex justify-content-start align-items-center h-100">
                <div class="me-3">
                    <div class="rounded-circle p-3 bg-orange-light">
                        <i class="fa-solid fa-sack-dollar fa-2x text-orange"></i>
                    </div>
                </div>
                <div>
                    <h6 class="text-muted">Total Ingresos</h6>
                    <h1 class="display-5 fw-bold mb-0" id="stat-total-ingreso">30</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-white px-4 py-3 shadow-sm rounded-3 animate__animated animate__fadeIn h-100" style="height:155px;animation-delay: 500ms;">
            <div class="d-flex justify-content-start align-items-center h-100">
                <div class="me-3">
                    <div class="rounded-circle p-3 bg-green-light">
                        <i class="fa-solid fa-money-bill-1 fa-2x text-green"></i>
                    </div>
                </div>
                <div>
                    <h6 class="text-muted mb-0">AVG. Ingresos Mensuales</h6>
                    <h1 class="display-5 fw-bold mb-0" id="stat-ingreso-mensual">30</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-white px-4 py-3 shadow-sm rounded-3 animate__animated animate__fadeIn h-100" style="height:155px;animation-delay: 700ms;">
            <div class="d-flex justify-content-start align-items-center h-100">
                <div class="me-3">
                    <div class="rounded-circle p-3 bg-blue-light">
                        <i class="fa-solid fa-boxes-stacked fa-2x text-blue"></i>
                    </div>
                </div>
                <div>
                    <h6 class="text-muted">Productos Vendidos</h6>
                    <div class="d-flex justify-content-start align-items-center">
                        <h1 class="display-5 fw-bold mb-1 me-3" id="stat-producto-vendido"></h1>
                        <p class="text-muted small mb-0" id="stat-producto-mensual">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-2 mb-3">
    <div class="row mx-0 g-3">
        <div class="col-md-8">
            <div class="bg-white rounded-15 shadow-custom py-3 animate__animated animate__fadeInDown h-100">
                <div class="px-3">
                    <h6 class="mb-0">Ingresos Totales Por mes</h6>
                </div>
                <div style="max-height:350px;" class="px-3">
                    <canvas id="incomeChart" style="width:90%; height:350px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white rounded-15 shadow-custom py-3 animate__animated animate__fadeInDown h-100">
                <div class="px-3">
                    <h6 class="mb-0">Pedidos</h6>
                    <div class="d-flex justify-content-start align-items-center">
                        <h2 class="text-dark fw-bold mb-1 display-6 pe-3" id="stats-pedidos-cant">320</h2>
                        <div id="stats-pedidos-metrics"></div>
                    </div>
                </div>
                <div class="" style="height: 350px; width:450px; margin:0 auto;">
                    <canvas id="pedidosChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mx-3 mb-3 pb-5">
    <div class="bg-white rounded-15 shadow-custom py-3 animate__animated animate__fadeInDown">
        <div class="px-3 d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Top 10 Clientes</h6>
            <div class="dropdown">
                <button class="btn btn-white btn-lg dropdown-toggle" id="dropdown-filtro-fecha-table" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-clock-rotate-left"></i> Todo el tiempo
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" role="button" onclick="cambiarFechaTabla('alltime')">Todo el tiempo</a></li>
                    <li><a class="dropdown-item" role="button" onclick="cambiarFechaTabla('currentmonth')">Último Mes</a></li>
                    <li><a class="dropdown-item" role="button" onclick="cambiarFechaTabla('currentyear')">Último Año</a></li>
                </ul>
            </div>
        </div>
        <div class="table-container mt-2" id="table-container">
            <table class="table table-custom table-borderless table-striped table-responsive" id="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" style="width: 40px;">#</th>
                        <th scope="col" class="ps-4" data-priority="1">Nombre</th>
                        <th scope="col" data-priority="4">Cédula</th>
                        <th scope="col" data-priority="6">Nivel</th>
                        <th scope="col" data-priority="5">Productos Adquiridos</th>
                        <th scope="col" data-priority="3">Invertido</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <div class="col px-3 d-md-flex justify-content-start align-items-center d-none">
            <small class="text-muted" id="info"></small>
        </div>
    </div>
    
</div>


<script src="/js/admin/reportes.js"></script>