
<div class="container py-4">
    <h4 class="mb-4">Copyright:</h4>
    <p class="lead">
        All content on this website, including but not limited to text, graphics, logos, some images, videos, and software, is the property of Perfumes & Body Splash CR or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Perfumes & Body Splash CR and protected by international copyright laws.

        Perfumes & Body Splash CR grants you a limited license to access and make personal use of this site but not to modify, reproduce, distribute, display, or sell any of the content on this site for any commercial purpose without prior written permission from Perfumes & Body Splash CR.

        Any unauthorized use of the content on this site, including but not limited to, copying, reproducing, modifying, distributing, displaying, or transmitting any of the content without prior written permission from Perfumes & Body Splash CR may result in severe civil and criminal penalties.

        Perfumes & Body Splash CR reserves the right to modify, update, or discontinue any aspect of this site at any time without notice. By using this site, you agree to be bound by these terms and conditions. If you do not agree to these terms and conditions, please do not use this site.

        Some Images used for products are not owned by Perfumes & Body Splash CR, but by the respective owners of the products. All rights reserved to the respective owners.

        Perfumes & Body Splash CR is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.

        All data collected by Perfumes & Body Splash CR is used for internal purposes only. We do not sell, rent, or share any personal information with third parties.

        All Passwords are encrypted and stored in a secure database. We do not store passwords in plain text.

        Perfumes & Body Splash CR is not responsible for any damages or losses resulting from the use of this site or any other site linked to this site.
    </p>
    <small>Ultima Actualización: 12 Marzo 2023</small>
</div>
