<div class="container py-4">
    <h4 id="terms" class="mb-3">Terms and Conditions:</h4>
    <p class="lead">Welcome to Perfumes & Body Splash CR! By accessing or using our website, you agree to be bound by the following terms and conditions:</p>
    <ol class="lead">
        <li>
            Use of the Site: You may use our website only for lawful purposes and in accordance with these terms and conditions. You agree not to use the website in any way that violates any applicable federal, state, local or international law or regulation.
        </li>
        <li>
            User Accounts: To access certain features of our website, you may need to create an account with us. You agree to provide accurate and complete information when creating an account and to update your account information as needed.
        </li>
        <li>
            Intellectual Property: The content on our website, including text, graphics, logos, images, videos, and software, is the property of Perfumes & Body Splash CR or its content suppliers and protected by international copyright laws.
        </li>
        <li>
            Links to Third-Party Websites: Our website may contain links to third-party websites that are not owned or controlled by Perfumes & Body Splash CR. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party websites.
        </li>
    </ol>
    <hr class="my-4">
    <h4 id="privacy" class="mb-3">Privacy Policy:</h4>
    <p class="lead">At Perfumes & Body Splash CR, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and disclose your personal information:</p>
    <ol class="lead">
        <li>
            Information We Collect: We collect personal information that you voluntarily provide to us when you create an account, place an order, or contact us for support. This information may include your name, email address, phone number, and shipping address.
        </li>
        <li>
            Use of Information: We use your personal information to process your orders, improve our website, and communicate with you about our products and services. We may also use your information to send you promotional emails or newsletters if you opt-in to receive them.
        </li>
        <li>
            Disclosure of Information: We may share your personal information with third-party service providers who assist us with website hosting, payment processing, and order fulfillment. We do not sell or rent your personal information to any third parties.
        </li>
        <li>
            Security: We take reasonable steps to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure.
        </li>
        <li>
            Changes to Policy: We reserve the right to update or modify this Privacy Policy at any time. If we make significant changes, we will notify you by email or by posting a notice on our website.
        </li>
    </ol>
    <p>If you have any questions or concerns about our Terms and Conditions or Privacy Policy, please contact us at <a href="mailto:perfumesbodysplashcr@gmail.com" class="text-primary-client">perfumesbodysplashcr@gmail.com</a>.</p>
    <small>Ultima Actualización: 12 Marzo 2023</small>
</div>