<nav class="bg-white menuDesktop">
    <img src="/img/icons/perfumeClient.svg" alt="" class="logoMenu">
    <a href="/inicio" class="item" id="btn-desk-home">
        <span>Home</span>
    </a>
    <a href="/ordenes" class="item" id="btn-desk-ordenes">
        <span>Ordenes</span>
    </a>
    <a href="/perfil" class="item" id="btn-desk-perfil">
        <span>Perfil</span>
    </a>
    <div class="buscarBar">
        <div class="form-icon searchBarToggle" style="width: 90%;height:50px;">
            <i class="fa-solid fa-search"></i>
            <input class="form-control border-0 rounded-15 bg-gray p-3" type="text" placeholder="Buscar..." 
            data-input="barraBuscar" aria-label="Buscar un producto">
        </div>
        <a href="#" class="carritoitem p-3" style="height:50px;" data-bs-toggle="modal" data-bs-target="#verCarritoModal">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            <span class="label labelCarrito">0</span>
        </a>
    </div>
</nav>

<div class="bg-white d-flex justify-content-between align-items-center gap-2 p-3 animate__animated animate__slideInDown searchTopMobile">
    <div class="form-icon searchBarToggle" style="width: 90%; height:50px;">
        <i class="fa-solid fa-search"></i>
        <input class="form-control border-0 rounded-15 bg-gray p-3" type="text" placeholder="Buscar..." 
        data-input="barraBuscar" aria-label="Buscar un producto">
    </div>
    <a href="#" class="carritoitem p-3" style="height:50px;" data-bs-toggle="modal" data-bs-target="#verCarritoModal">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <span class="label labelCarrito">0</span>
    </a>
</div>