<div id="sidebar" class="bg-dark">
    <div class="d-flex justify-content-center align-items-center mb-2 bg-primary" id="logo">
        <img src="/img/iconlogo.svg" width="45px" height="45px" alt="logo" class="img-fluid">
    </div>
    <div class="d-flex flex-column mt-2 align-items-center p-2" style="height: calc(100vh - 55px);">
        <a type="button" class="btn btn-dark btn-sidebar mb-4" id="btn-panel"
        data-type="menu-btn"
        style="animation-delay: .1s;"
        href="/admin/main">
            <img src="/img/icons/home.svg" class="invert-1">
            <small class="mt-1 mb-0">Panel</small>
        </a>
        <a type="button" class="btn btn-dark btn-sidebar mb-4" id="btn-productos" 
        data-type="menu-btn"
        style="animation-delay: .2s;"
        href="/admin/productos">
            <img src="/img/icons/perfume.svg" class="invert-1">
            <small class="mt-1 mb-0">Productos</small>
        </a>
        <a type="button" class="btn btn-dark btn-sidebar mb-4" id="btn-compras" 
        data-type="menu-btn"
        style="animation-delay: .3s;"
        href="/admin/compras">
            <img src="/img/icons/bag.svg" class="invert-1">
            <small class="mt-1 mb-0">Compras</small>
        </a>
        <a type="button" class="btn btn-dark btn-sidebar mb-4" id="btn-clientes" 
        data-type="menu-btn" 
        style="animation-delay: .4s;" 
        href="/admin/clientes">
            <img src="/img/icons/user.svg" class="invert-1">
            <small class="mt-1 mb-0">Clientes</small>
        </a>

        <div class="mt-auto mb-3">
            <button type="button" class="btn btn-transparent" id="logoutbutton">
                <i class="fa-solid fa-arrow-right-from-bracket text-light"></i> <span class="text-light">Salir</span>
            </button>
        </div>
    </div>
</div>
<script>
    var windowButton = "{{ menuItem }}";
    $(`#btn-${windowButton}`).addClass("active");

    $(document).ready(function(){
        $('[data-type="menu-btn"]').each(function(){
            let btnid = $(this).attr('id');
            animateCSS(`#${btnid}`, 'fadeInLeft');
        });
        $("#logoutbutton").on('click', function(){
            localStorage.removeItem('token');
            localStorage.removeItem('user');
            function delete_cookie(name) {
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
            delete_cookie('token');
            delete_cookie('user');
            window.location.href = "/admin/logout";
        });
    });

    
</script>