<div class="modal fade" id="verProductoModal" tabindex="-1" aria-labelledby="verProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable h-100 my-0 modal-xl">
        <div class="modal-content bg-gray">
            <div class="d-flex justify-content-between align-items-center p-3" style="height: 75px;">
                <button type="button" class="btn btn-transparent" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-arrow-left fa-2x"></i></button>
                <h4 class="text-dark fw-light mb-0">Detalle de Producto</h4>
                <button type="button" class="btn btn-transparent invisible"><i class="fa-solid fa-arrow-left fa-2x"></i></button>
            </div>
            <div class="d-flex flex-column h-100" id="verProductoBodyModal">
                <div class="p-3 w-100">
                    <img src="https://dev-to-uploads.s3.amazonaws.com/i/mrvsmk2pl3l8fwocbfhy.gif" alt="Imagen del producto" 
                    id="modalimageProduct" class="d-block mx-auto w-80" style="mix-blend-mode: multiply; height:300px; object-fit:contain;">
                </div>
                <div class="mt-2 p-4 bg-white rounded-top-25 shadow" style="height: calc(100vh - 483px); overflow-y:auto;">
                    <h2 id="modalNombreProduct" class="fw-bold mb-0 display-6"></h2>
                    <p class="mb-1" id="modalBrandProduct"></p>
                    <p class="mb-1 text-muted" id="modalTypeProduct"></p>
                    <p class="mb-1" id="modalRatingProduct"></p>

                    <h3 id="modalPrecioProduct" class="fw-bold text-primary-client"></h3>

                    <hr>
                    <p class="fw-bold lead">Descripción</p>
                    <div class="djcsaic gap-1">
                        <p>Tamaño:</p>
                        <p class="text-muted" id="modalCantidadProducto"></p>
                    </div>
                    <div class="djcsaic gap-1">
                        <p>Categoría:</p>
                        <p class="text-muted" id="modalCategoriaProducto"></p>
                    </div>
                    <div class="djcsaic gap-1">
                        <p>Código:</p>
                        <p class="text-muted" id="modalCodigoProducto"></p>
                    </div>
                    <div class="djcsaic gap-1">
                        <p>En Stock:</p>
                        <p class="text-muted" id="modalStockProducto"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-white" style="height:70px;">
                <button type="button" class="btn btn-primary-client btn-lg" id="modalAgregarCarritoProduct">
                    <i class="fa-solid fa-cart-shopping"></i> Agregar al Carrito
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/client/viewproduct.js"></script>