<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/fh-3.3.1/r-2.4.0/sb-1.4.0/datatables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.8.0/css/keyTable.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.bootstrap5.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css" type="text/css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/fh-3.3.1/r-2.4.0/sb-1.4.0/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.8.0/js/dataTables.keyTable.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script>
    

<div id="alert" style="position: absolute; top:10px; left:4%; z-index:9999999;" class="w-90 d-block">

</div>
<div class="bg-white shadow-custom p-3 animate__animated animate__fadeIn animate__slower">
    <div>
        <nav class="animate__animated animate__fadeIn" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="/admin/main">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Productos</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold mb-0 animate__animated animate__fadeIn">Productos</h2>
            <div class="d-flex justify-content-end align-items-center">
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center animate__animated animate__fadeIn">
            <p class="text-muted small mt-1 mb-0 me-3"><i class="fa-solid fa-clock"></i> Actualizado hace: <span id="lastUpdated" class="text-primary">2 seg</span></p>
            <p class="text-muted small mt-1 mb-0"><i class="fa-solid fa-box-open"></i> Productos: <span id="totalitems" class="text-primary">83</span></p>
        </div>
    </div>
</div>

<div class="">
    <nav class="mx-3 my-3">
        <div class="nav nav-pills nav-line" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button"
                role="tab" aria-controls="nav-list" aria-selected="true"><i class="fa-solid fa-boxes-stacked"></i> Lista</button>
            <button class="nav-link" id="nav-agregar-tab" data-bs-toggle="tab" data-bs-target="#nav-agregar" type="button"
                role="tab" aria-controls="nav-agregar" aria-selected="false"><i class="fa-solid fa-plus"></i> Nuevo</button>
            <span class="line-animation"></span>
        </div>
    </nav>
    <script>
        $('.nav-line .nav-link').on('click',function() {
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
            var left = $(this).position().left;
            $('.line-animation').css({
                'left': left
            });
        });
    </script>
    <div class="tab-content mb-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab" tabindex="0">
            <div class="bg-white rounded-15 shadow-custom py-3 mx-0 mx-md-3 animate__animated animate__fadeIn mb-0 ">
                <div class="row mx-0 px-3 mb-3">
                    <div class="col px-1">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="form-icon me-2" style="width: 300px;">
                                <i class="fa-solid fa-search"></i>
                                <input class="form-control" type="text" placeholder="Buscar..." 
                                id="barraBuscar" aria-label="Buscar un producto">
                            </div>
                            <button type="button" onclick="openScaner('search');" class="btn btn-dark btn-sm"><i class="fa-solid fa-barcode"></i> Escanear</button>
                        </div>
                    </div>
                    <div class="col-md-4 px-1 d-md-flex d-none justify-content-md-end align-items-center mt-3 mt-md-0" id="button-group">
                    </div>
                </div>
                <div class="row mx-0 px-3">
                    <div class="col px-1 d-flex justify-content-start align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-gray dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-venus-mars text-primary"></i> Categoria</button>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li>
                                    <a type="button" data-type="ratio-filter" id="typeFilter-all" class="dropdown-item">Todos</a>
                                </li>
                                <li>
                                    <a type="button" data-type="ratio-filter" id="typeFilter-hombre" class="dropdown-item">Hombre</a>
                                </li>
                                <li>
                                    <a type="button" data-type="ratio-filter" id="typeFilter-mujer" class="dropdown-item">Mujer</a>
                                </li>
                                <li>
                                    <a type="button" data-type="ratio-filter" id="typeFilter-unisex" class="dropdown-item">Unisex</a>
                                </li>
     
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 px-1 d-md-flex justify-content-end align-items-center d-none">
                        <small class="text-muted" id="info"></small>
                        <div class="ms-4" id="length"></div>
                    </div>
                </div>
                <div class="table-container mt-2" id="table-container" style="min-height: 660px;">
                    <table class="table table-custom table-borderless table-striped table-hover table-responsive " id="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 70px;" data-priority="2">Imagen</th>
                                <th scope="col" data-priority="7">Código</th>
                                <th scope="col" data-priority="1">Nombre</th>
                                <th scope="col" data-priority="2">Tipo</th>
                                <th scope="col" data-priority="5">Tamaño</th>
                                <th scope="col" data-priority="6">Categoria</th>
                                <th scope="col" data-priority="4">Inventario</th>
                                <th scope="col" data-priority="8">Precio</th>
                                <th scope="col" data-priority="3">Editar</th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end px-3 pagination-tables" id="pagination">
                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-agregar" role="tabpanel" aria-labelledby="nav-agregar-tab" tabindex="0">
            <div class="bg-white rounded-15 shadow-custom py-3 mx-0 mx-md-3 animate__animated animate__fadeIn mb-5">
                
                <div class="row mx-0 gy-3">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 fw-bold">Agregar Producto</h4>
                            <button type="button" class="btn btn-dark btn-lg" id="btn-agregar"><i class="fa-solid fa-plus"></i> Agregar Producto</button>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="row mx-0 gy-3">
                            <div class="col-sm-12">
                                <label for="add-name" class="form-label fw-bold">Nombre y Marca</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="add-name" placeholder="Nombre">
                                    <input type="text" class="form-control" id="add-marca" placeholder="Marca">
                                    <input type="text" class="form-control" id="add-type" placeholder="Tipo">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="add-precio1" class="form-label fw-bold">Precio General</label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" min="1" minlength="1" id="add-preciogeneral" placeholder="Precio del General del Producto">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="add-precio1" class="form-label fw-bold">Precio A <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-1" role="button"></i></label>
                                <input type="number" class="form-control" min="1" minlength="1" id="add-precio1" placeholder="Precio...">
                            </div>
                            <div class="col-sm-4">
                                <label for="add-precio2" class="form-label fw-bold">Precio B <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-2" role="button"></i></label>
                                <input type="number" class="form-control" min="1" minlength="1" id="add-precio2" placeholder="Precio...">
                            </div>
                            <div class="col-sm-4">
                                <label for="add-precio3" class="form-label fw-bold">Precio C <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-3" role="button"></i></label>
                                <input type="number" class="form-control" min="1" minlength="1" id="add-precio3" placeholder="Precio...">
                            </div>
                            <div class="col-sm-7">
                                <div class="">
                                    <label for="add-stock" class="form-label fw-bold">Inventario</label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="add-stock" placeholder="Cantidad...">
                                    <small class="text-muted">Cantidad de productos en inventario.</small>
                                </div>
                            </div> 
                            <div class="col-sm-5">
                                <div class="">
                                    <label for="add-aviso" class="form-label fw-bold">Aviso <i class="fa-solid fa-circle-info text-gray-light ps-1 aviso-tooltip" role="button"></i></label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="add-aviso" placeholder="1">
                                    <small class="text-muted">Notificación de producto.</small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="add-cantidad" class="form-label fw-bold">Tamaño</label>
                                    <div class="input-group mb-0">
                                        <input type="number" class="form-control" min="1" minlength="1" id="add-cantidad" placeholder="Cantidad...">
                                        <select class="form-select" id="add-q" style="max-width: 80px;">
                                            <option value="ml">ml</option>
                                            <option value="oz">oz</option>
                                        </select>
                                    </div>
                                    <small class="text-muted">Cantidad en mililitros u onzas.</small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                 <div class="">
                                    <label for="add-categoria" class="form-label fw-bold">Categoria</label>
                                    <select class="form-select" id="add-categoria" aria-label="Tipo de producto" aria-placeholder="Seleccione un tipo">
                                        <option value="unisex">Unisex</option>
                                        <option value="hombre">Hombre</option>
                                        <option value="mujer">Mujer</option>
                                    </select>
                                    <small class="text-muted">Para hombre o mujer.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label fw-bold">Imagen del producto</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="link-toimage">URL</span>
                            <input type="text" class="form-control" id="add-imagelink" placeholder="https://" aria-label="Link to image" aria-describedby="link-toimage">
                        </div>
                        <div id="imagepreviewlink"></div>
                        <hr>
                        <div class="mt-3">
                            <div class="d-flex justify-content-start align-items-center gap-3">
                                <button type="button" class="btn btn-dark" onclick="openScaner('add');"><i class="fa-solid fa-barcode"></i> Escanear Código</button>
                                <input type="text" class="form-control" id="add-codigobarrasManual" placeholder="Ingresar Codigo manual" style="width: 300px;">
                            </div>
                            <div id="barcodeResult"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #barcodePreview{
        position:relative;
    }
    #barcodePreview canvas{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
</style>

<div id="editclick" style="display: none;" class="border border-gray-100 rounded-2 bg-white py-2 px-1 editclick">
    <div >
        <small class="hover-right d-block px-2 pb-1 mb-0 text-muted border-bottom" role="button" onclick="openEditModal()"></small>
        <small class="hover-right d-block px-2 pt-1 mb-0 text-danger" onclick="eliminarProducto()" role="button"></small>
    </div>
</div>



<div class="modal fade" id="escanerModal" tabindex="-1" aria-labelledby="escanerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content ">
            <div class="modal-header text-bg-dark pb-2">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar Producto</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="barcodePreview" class="d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagepreview" tabindex="-1" aria-labelledby="imagepreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content modal-transparent">
            <button type="button" class="btn-close btn-close-white btn-close-modal-bottom" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body bg-white p-4 mb-2 rounded-15">
                <img src="" id="image-preview-src" width="100%" class="img-round">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xxl">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <p class="modal-title" id="editModalLabel">Editar</p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mx-0">
                    <div class="col-md-3 ps-0">
                        <div class="w-100 mb-2 position-relative">
                            <div class="w-100 mx-auto">
                                <img src="" id="edit-image" class="img-circle w-90">
                            </div>
                           <div class="mb-1">
                                <label for="edit-image-path" class="form-label fw-bold">Imagen Link</label>
                                <input type="text" class="form-control" id="edit-image-path" placeholder="Link de la imagen...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-2">
                            <label for="edit-image-path" class="form-label fw-bold">Código de Barras</label>
                            <input type="text" class="form-control" id="edit-barcode" placeholder="Código de Barras...">
                        </div>
                        <hr>
                        <div class="row mx-0 g-0">
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="edit-name" class="form-label fw-bold">Nombre</label>
                                    <input type="text" class="form-control" id="edit-name" placeholder="Nombre del producto...">
                                    <small class="text-muted">Máximo 100 caracteres.</small>
                                </div>
                            </div>
                            <div class="col-4 ps-3">
                                <div class="mb-2">
                                    <label for="edit-marca" class="form-label fw-bold">Marca</label>
                                    <input type="text" class="form-control" id="edit-marca" placeholder="Marca del producto...">
                                    <small class="text-muted">Máximo 100 caracteres.</small>
                                </div>
                            </div>
                            <div class="col-4 ps-3">
                                <div class="mb-2">
                                    <label for="edit-type" class="form-label fw-bold">Tipo</label>
                                    <input type="text" class="form-control" id="edit-type" placeholder="Tipo de producto...">
                                    <small class="text-muted">Máximo 100 caracteres.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 g-0">
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="edit-precio1" class="form-label fw-bold">Precio A <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-1" role="button"></i></label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="edit-precio1" placeholder="Precio del producto...">
                                    <small class="text-muted">Precio del producto.</small>
                                </div>
                            </div>
                            <div class="col-4 ps-2">
                                <div class="mb-2">
                                    <label for="edit-precio2" class="form-label fw-bold">Precio B <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-2" role="button"></i></label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="edit-precio2" placeholder="Precio del producto...">
                                    <small class="text-muted">Precio del producto.</small>
                                </div>
                            </div>
                            <div class="col-4 ps-2">
                                <div class="mb-2">
                                    <label for="edit-precio3" class="form-label fw-bold">Precio C <i class="fa-solid fa-circle-info text-gray-light ps-1 cat-3" role="button"></i></label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="edit-precio3" placeholder="Precio del producto...">
                                    <small class="text-muted">Precio del producto.</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="edit-categoria" class="form-label fw-bold">Categoria</label>
                            <select class="form-select" id="edit-categoria" aria-label="Tipo de producto" aria-placeholder="Seleccione un tipo">
                                <option value="unisex">Unisex</option>
                                <option value="hombre">Hombre</option>
                                <option value="mujer">Mujer</option>
                            </select>
                            <small class="text-muted">Para hombre o mujer.</small>
                        </div>
                        <div class="row mx-0 g-0">
                            <div class="col-6">
                                <div class="mb-2">
                                    <label for="edit-cantidad" class="form-label fw-bold">Tamaño</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" min="1" minlength="1" id="edit-cantidad" placeholder="Cantidad...">
                                        <select class="form-select" id="edit-q">
                                            <option value="ml">ml</option>
                                            <option value="oz">oz</option>
                                        </select>
                                    </div>
                                    <small class="text-muted">Cantidad en mililitros u onzas.</small>
                                </div>
                                
                            </div>
                            <div class="col-6 ps-3">
                                <div class="mb-2">
                                    <label for="edit-aviso" class="form-label fw-bold">Aviso <i class="fa-solid fa-circle-info text-gray-light ps-1 aviso-tooltip" role="button"></i></label>
                                    <input type="number" class="form-control" min="1" minlength="1" id="edit-aviso" placeholder="1">
                                    <small class="text-muted">Notificación de producto.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mx-0 g-0">
                    <div class="col-6">
                        <div class="mb-2">
                            <label for="edit-stock" class="form-label fw-bold">Inventario (Total de Productos)</label>
                            <input type="number" class="form-control" min="1" minlength="1" id="edit-stock" placeholder="Cantidad...">
                            <small class="text-muted">Cantidad de productos en inventario.</small>
                        </div>
                    </div>
                    <div class="col-6 ps-3">
                        <div class="mb-2">
                            <label for="edit-promotion" class="form-label fw-bold">Descuento</label>
                            <input type="number" class="form-control" min="0" minlength="0" max="100" maxlength="100" id="edit-promotion" placeholder="Descuento por aplicar...">
                            <small class="text-muted">Descuento aplicado en el precio.</small>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mx-0" id="bodegas-list-update">

                </div>
                <hr>
                <div id="alertInventarioBodega"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btn-lg" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" id="edit-product" onclick="updateProduct()"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/admin/productos.js"></script>