$primary: #4f46e5;
$primary-light: lighten($primary, 10%);

$secondary: #96d7f4;
$success: #38c172;
$danger: #f26262;
$warning: #f6993f;
$dark: #1f2937;
$dark-900: #111827;
$dark-100: #374151;
$gray-900: #777777;
$gray-100: #c0c0c0;
$gray-light: #e4e4e4;
$gray: #f3f4f6;
$light: #ffffff;

$pink: #ffb8d6;
$green: #77cdb0;
$orange: #f6ad55;
$blue: #879ce1;
$red: #f57979;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "dark": $dark,
    "dark-900": $dark-900,
    "dark-100": $dark-100,
    "gray": $gray,
    "gray-900": $gray-900,
    "gray-100": $gray-100,
    "gray-light": $gray-light,
    "light": $light,
    "pink": $pink,
    "green": $green,
    "orange": $orange,
    "blue": $blue,
    "red": $red
);

/**
 * Grid Breakpoinst
*/
$grid-breakpoints: (
    xs: 0,
    sm: 650px,
    md: 1000px,
    lg: 1280px,
    xl: 1400px,
    xxl: 2000px
);

/**
 * body
*/
$body-bg: $gray;
$body-color: $dark-900;
body{
    background-color: $body-bg !important;
    color: $body-color !important;
}
img{
    user-select: none !important;
}
::selection {
    background-color: #a7a3f2 !important;
    color: $light !important;
}
/**
* For
*/

@for $i from 1 through 10 {
    .w-#{$i}0 {
      width: (10 * $i) * 1%;
    }
}


/**
 * Gradients
*/
.bg-dark-gradient{
    background: linear-gradient(160deg, rgba(0,0,0,1) 0%, $dark 100%);
}


/**
 * Fonts
*/
$font-family-base: 'Inter', sans-serif;
$font-size-base: .85rem;
$font-weight-base: 400;

/**
 * Dashboard general
*/
.header-continue-back{
    height: 150px;
}


/**
 * Forms
*/
$input-btn-focus-box-shadow: 0 0 0 0 none;
.form-select{
    box-shadow: none !important;
    &:active{
        border: 1.3px solid rgba($primary, .5);
    }
}
.form-control{
    border-width: 1.3px !important;
    &:focus, &:active{
        border: 1.3px solid rgba($primary, .5);
    }
}
.form-stack{
    input:first-child{
        border-end-start-radius: 0;
        border-end-end-radius: 0;
    }
    input:last-child{
        border-start-start-radius: 0;
        border-start-end-radius: 0;
    }
    input:not(:first-child):not(:last-child){
        border-radius: 0;
        border-bottom: 0;
    }
}
.form-icon{
    position: relative;
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: $gray-900;
    }
}


/**
 * Links and Buttons
*/
a, button{
    font-family: 'Inter Var', sans-serif !important;
}
a{
    color: $primary;
    text-decoration: none !important;
    transition: all .3s ease-in-out;
    &:hover{
        color: rgba($primary, .8) !important;
    }
}
button{
    font-size: .84rem !important;
    font-weight: 400 !important;
}
.btn-primary{
    position: relative;
    i.op{
        color: lighten($primary, 20%);
        transition: all .3s ease-in-out;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover{
        i.op{
            color: lighten($primary, 10%);
        }
    }
}
.btn-white{
    background-color: $light !important;
    color: $gray-900 !important;
    border: 1.3px solid $gray-100 !important;
    border-radius: 5px;
    padding: 0.3rem 0.5rem !important;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: #eeeeee !important;
        border: 1.3px solid #eeeeee !important;
        color: $dark-900 !important;
    }
    &.active{
        background-color: $primary !important;
        color: $light !important;
        border: 1.3px solid $primary !important;
    }
    &.pill{
        border-radius: 50px;
    }
    span.badge{
        margin-left: 0.38rem;
        color: $light !important;
        font-size: 9px !important;
        font-weight: 500 !important;
        padding: 0.4rem 0.2rem !important;
        height: 1.4rem;
        width: 1.5rem;
        border-radius: 50%;
        &.badge-primary{
            background-color: $primary-light !important;
        }
        &.badge-pink{
            background-color: $pink  !important;
        }
        &.badge-green{
            background-color: $green !important;
        }
        &.badge-orange{
            background-color: $orange !important;
        }
        &.badge-blue{
            background-color: $blue !important;
        }
        &.badge-red{
            background-color: $red !important;
        }
    }
}
.bg-orange-light{
    background-color: lighten($orange, 25%) !important;
}
.bg-pink-light{
    background-color: lighten($pink, 25%) !important;
}
.bg-green-light{
    background-color: lighten($green, 25%) !important;
}
.bg-blue-light{
    background-color: lighten($blue, 25%) !important;
}
.bg-red-light{
    background-color: lighten($red, 25%) !important;
}
.dropdown-toggle{
    &.b-pill{
        border:none !important;
    }
    &.btn-orange{
        background-color: lighten($orange, 25%) !important;
        color: $orange !important;
    }
    &.btn-pink{
        background-color: lighten($pink, 25%) !important;
        color: $pink !important;
    }
    &.btn-green{
        background-color: lighten($green, 25%) !important;
        color: $green !important;
    }
    &.btn-blue{
        background-color: lighten($blue, 25%) !important;
        color: $blue !important;
    }
    &.btn-red{
        background-color: lighten($red, 25%) !important;
        color: $red !important;
    }
}
.b-pill{
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 16px !important;
}
.badge-pink{
    background-color: lighten($pink, 25%)  !important;
    color: $pink !important;
}
.badge-green{
    background-color: lighten($green, 25%) !important;
    color: $green !important;
}
.badge-orange{
    background-color: lighten($orange, 25%) !important;
    color: $orange !important;
}
.badge-blue{
    background-color: lighten($blue, 25%) !important;
    color: $blue !important;
}
.btn-dark{
    border: none !important;
    &:hover{
        background-color: $dark-100 !important;
    }
    &.active{
        background-color: $dark-900 !important;
    }
}
.btn-transparent{
    border: none !important;
    color: $gray-900 !important;
    &:hover, &.active{
        color: $dark !important;
        border: none !important;
    }
}
.btn-sidebar{
    width: 75px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: none !important;
    padding: 0.5rem 1rem !important;
    text-align: left !important;
    transition: all .5s ease-in-out !important;
    &.active{
        small{
            color: #e0e0e0 !important;
        }
    }
    img{
        width: 30px;
    }
    small{
        transition: all .5s ease-in-out !important;
        color: #6c757d;
    }
    &:hover:not(.active){
        small{
            transition: all .5s ease-in-out !important;
            color: #e0e0e0;
        }
    }
}
.btn-danger{
    color: white !important;
}
.btn-expand-text{
    transition: all .3s ease-in-out;

    span{
        transition: all .3s ease-in-out;
        display: none;
        opacity: 0;
    }
    &:hover{
        span{
            display: inline-block;
            opacity: 1;
        }
    }
}

.list-group-noborder > .list-group-item{
    border: none;
}
.icon-order-history{
    position: relative;
    margin-bottom: 30px;
    &::before{
        content: '';
        position: absolute;
        height: 25px;
        border-left: 3px dotted $gray-900;
        left: 3.1rem;
        bottom: -28px;
    }
}

.card-bodega{
    border-radius: 15px;
    background-color: $dark;
    padding: 1rem;
    min-height: 100px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        scale: 1.01;
    }

}
.selectize-control.multi .selectize-input>div.active{
    background-color: $primary !important;
    color: white !important;
}

/**
 * Sidebar
*/
#slides-container{
    overflow-x: hidden;
    width: calc(200vw - 200px);
    display: flex;
    justify-content: space-between;
    min-height: 860px;
}
#sidebar{
    min-width: 100px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 999;
}
#wrapper{
    overflow-x: hidden;
}
#page-content-wrapper{
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - 100px);
    position: relative;
    height: calc(100vh - 162px);
}
// hide sidebar on mobile
@media (max-width: 650px) {
    #sidebar{
        display: none;
        margin-left: -100px;
    }
    #page-content-wrapper{
        min-width: 100vw;
        height: 100vh;
    }
    #slides-container{
        width: 200vw;
    }
    .slide-w-100{
        width: calc(100vw - 2rem) !important;
    }
    .slide-add.active{
        transform: translateX(calc(-100vw )) !important;
        height: 100vh !important;
        overflow-y: auto;
    }
}
#footer{
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 100px);
}
#logo{
    height: 51px;
}
#header{
    max-height: 51px;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
/**
 * Images
*/
.invert-1{
    filter: invert(1);
}
.image-zoom{
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(4);
    }
}
.hover-img{
    transition: all .3s ease-in-out;
    &:hover{
        ::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        ::after{
            content: "View";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 20px;
            font-weight: 500;
            z-index: 2;
        }
    }
}
// select the before element of the image on hover
.img-change{
    span.image-change-span{
        transition: all .3s ease-in-out;
        opacity: 0;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    &:hover{
        span{
            opacity: 1;
            display: block;
        }
        span::after{
            content: "Cambiar Imagen";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size:17px;
            font-weight: 400;
            z-index: 2;
            width: 100%;
            text-align: center;
        }
    }
}
.img-round{
    border-radius: 15px;
}
.img-circle{
    border-radius: 50%;
}
.fa-fill-blue{
    color: $blue;
    i.fa-circle{
        &::after{
            background: rgb(223, 236, 248);
            position: absolute;
            content: "";
            width: 80%;
            height: 90%;
            top: 5%;
            left: 10%;
            border-radius: 50%;
        }
        &::before{
            position: relative;
            z-index: 1;
        }
    }
}
.fa-fill-gray{
    color: #bdbdbd;
    i.fa-circle{
        &::after{
            background: #eaeaea;
            position: absolute;
            content: "";
            width: 80%;
            height: 90%;
            top: 5%;
            left: 10%;
            border-radius: 50%;
        }
        &::before{
            position: relative;
            z-index: 1;
        }
    }
}
/**
 * Borders
*/
.rounded-15{
    border-radius: 0.7rem;
}
/**
 * Lists
*/
ul.pagination{
    margin-bottom: 0 !important;
}
/**
 * Shadows
*/
.shadow-custom{
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.15) !important;
}

/**
* Modals
*/
$modal-fade-transform: scale(.8);
.fade {
    opacity: 0;
    transition: all .25s linear;
}
.fade.show {
    opacity: 1;
    transition: all .25s linear;
}
.modal-transparent{
    background-color: transparent !important;
    border: none !important;
}
.btn-close-modal-bottom{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    background-color: white !important;
}
/**
* offcanvas
*/
.offcanvas.offcanvas-end{
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.offcanvas .offcanvasfooter{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-top: 1px solid #e0e0e0;
    padding: .5rem 1rem;
}

@media (min-width: 1024px) {
    .modal-xxl{
        --bs-modal-width: 80vw !important;
    }
}
// on mobile devices
@media (max-width: 1024px) {
    .modal-xxl{
        --bs-modal-width: 90vw !important;
    }
}

/**
* Tippy JS
*/
.tippy-box[data-theme~='light-custom']{
    background-color: #f0f0f0;
    color: #424242;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #a7a3f2;
}
.tippy-box[data-theme~='light-custom'][data-placement^='top'] .tippy-arrow {
    color: #f0f0f0;
}
.tippy-box[data-theme~='light-custom'][data-placement^='bottom'] .tippy-arrow {
    color: #f0f0f0;
}
.tippy-box[data-theme~='light-custom'][data-placement^='left'] .tippy-arrow {
    color: #f0f0f0;
}
.tippy-box[data-theme~='light-custom'][data-placement^='right'] .tippy-arrow {
    color: #f0f0f0;
}
// dark-custom
.tippy-box[data-theme~='dark-custom']{
    background-color: $dark-900;
    color: #f0f0f0;
    font-weight: 400;
    font-size: 12px;
}
.tippy-box[data-theme~='dark-custom'][data-placement^='top'] .tippy-arrow {
    color: $dark-900;
}
.tippy-box[data-theme~='dark-custom'][data-placement^='bottom'] .tippy-arrow {
    color: $dark-900;
}
.tippy-box[data-theme~='dark-custom'][data-placement^='left'] .tippy-arrow {
    color: $dark-900;
}
.tippy-box[data-theme~='dark-custom'][data-placement^='right'] .tippy-arrow {
    color: $dark-900;
}

.editclick{
    position: absolute;
    z-index: 999;
    width: 100px;
}
.hover-right{
    &:hover{
        background-color: $gray;
    }
}
/**
* Slides
*/
.pagination-tables{
    margin-top: 0.5rem;
}
#table-container{
    overflow-x: hidden;
    min-height: 430px;
}


.slides-custom{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.slide-w-100{
    width: calc(100vw - 100px - 2rem);
}
.slide-list{
    height: 820px;
    transition: all 0.9s ease-in-out;
    &.active{
        transform: translateX(calc(-100vw - 100px));
    }
}
.slide-add{
    height: 575px;
    transition: all 0.9s ease-in-out;
    &.active{
        transform: translateX(calc(-100vw + 100px));
    }
}
.fadeOutOpacity{
    animation: fadeOutOpacity 0.9s ease-out;
}
.fadeInOpacity{
    animation: fadeInOpacity 0.9s ease-out;
}
.imageDrop{
    width: 200px;
    height: 200px;
    border: $dark-100 2px dashed;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageDrop2{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
// ! ---------------------------------------- CHART JS ----------------------------------------

#chartjs-tooltip{
    background: radial-gradient(circle, rgba(79,70,229,0.2645260252538515) 0%, rgba(255,255,255,0) 100%);
    height: 150px;
    width: 80px;
    position: relative;
    transition: all 0.5s ease-in-out;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background: radial-gradient(circle, rgba(79,70,229,1) 10%, rgba(255,255,255,0) 100%);
    }
}
.chartjs-tooltip-body{
    border: 1px solid $gray-100;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: $light;
    position: absolute;
    top: 43%;
    left: 0;
    transform: translateX(50%);
    width: 100px;
}


// ! ---------------------------------------- swal2Alert ----------------------------------------
.swal2-popup.swal2-toast{
    padding: 0.4rem 1rem !important;
}
// get icon
.swal2-popup.swal2-toast .swal2-icon{
    zoom: 0.7;
}

// ! ---------------------------------------- DATA TABLES ----------------------------------------
table.dataTable thead>tr>th.sorting:before, 
table.dataTable thead>tr>th.sorting_asc:before, 
table.dataTable thead>tr>th.sorting_desc:before, 
table.dataTable thead>tr>th.sorting_asc_disabled:before, 
table.dataTable thead>tr>th.sorting_desc_disabled:before, 
table.dataTable thead>tr>td.sorting:before, 
table.dataTable thead>tr>td.sorting_asc:before, 
table.dataTable thead>tr>td.sorting_desc:before, 
table.dataTable thead>tr>td.sorting_asc_disabled:before, 
table.dataTable thead>tr>td.sorting_desc_disabled:before {
  right: 1em;
  content: "↑" !important;
}
table.dataTable thead>tr>th.sorting:after, 
table.dataTable thead>tr>th.sorting_asc:after, 
table.dataTable thead>tr>th.sorting_desc:after, 
table.dataTable thead>tr>th.sorting_asc_disabled:after, 
table.dataTable thead>tr>th.sorting_desc_disabled:after, 
table.dataTable thead>tr>td.sorting:after, 
table.dataTable thead>tr>td.sorting_asc:after, 
table.dataTable thead>tr>td.sorting_desc:after, 
table.dataTable thead>tr>td.sorting_asc_disabled:after, 
table.dataTable thead>tr>td.sorting_desc_disabled:after  {
  right: 0.5em;
  content: "↓" !important;
}

.dataTables_length{
    label{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        color: #5c6063;
        font-size: 11.9px !important;
        select{
            margin-left: 0.85rem;
        }
    }
}

.table-custom{
    thead{
        background-color: $dark !important;
        color: $light !important;
        tr{
            th{
                height: 25px;
                border-bottom: none !important;
            }
        }
    }
    tbody{
        tr{
            td{
                color: #4b4b4b !important;
            }
        }
    }
}

table.dataTable.table-striped>tbody>tr.odd>*{
    background-color: #f5f5f5;
    box-shadow: none !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: 1px solid #e9ecef !important;
}
table.dataTable tbody th.focus, table.dataTable tbody td.focus{
    outline: 2px solid $primary !important;
}
table.dataTable.table-striped>tbody>tr.odd.selected>*{
    box-shadow: inset 0 0 0 9999px rgba(135 ,156 ,225 , 0.44) !important;
}
table.dataTable>tbody>tr.selected>*{
    box-shadow: inset 0 0 0 9999px rgba(135 ,156 ,225 , 0.44) !important;
}
table.dataTable>tbody>tr.child{
    background-color: #f0f3ff !important;
}