<footer class="bg-primary-client mt-auto">
    <div class="container-fluid text-light pt-5 pb-2">
        <div class="row mx-0 py-3 justify-content-center">
            <div class="col-md-3">
                <a href="/" class="djcsaic">
                    <img src="/img/icons/perfume.svg" class="pe-2" style="max-height: 100px; filter:invert(1);">
                    <h2 class="crimson-pro text-light mb-0">Perfumes & Body Splash</h2>
                </a>
            </div>
            <div class="col-md-3 mt-3">
                <p class="fw-bold">Servicio al cliente</p>
                <p class="mb-1"><a href="mailto:perfumesbodysplashcr@gmail.com" class="text-light">Correo</a></p>
                <p class="mb-1"><a href="tel:+506 88008800" class="text-light">Teléfono</a></p>
            </div>
            <div class="col-md-3 mt-3">
                <p class="fw-bold">Nosotros</p>
                <p class="mb-1"><a href="/termsandconditions#terms" class="text-light">Terminos y Condiciones</a></p>
                <p class="mb-1"><a href="/termsandconditions#privacy" class="text-light">Política de Privacidad</a></p>
                <p class="mb-1"><a href="/copyrights" class="text-light">Copyright</a></p>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-6">
                <p class="text-light small mb-1">© 2023 Perfumes & Body Splash CR. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-end">
                <p class="text-light small">Develop by IanLabs®</p>
            </div>
        </div>
    </div>
</footer>