<div class="bg-dark-900 d-flex justify-content-between align-items-center py-2 px-2" id="header">
    <button class="btn" id="btnSidebarToggle"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="mx-3">
        <p class="text-light text-center mb-0"><i class="fa-solid fa-circle-user"></i> <span id="global_userName">User</span></p>
    </div>
</div>
<script>
    //get cookie
    var thumbnail = document.cookie.split('; ').find(row => row.startsWith('photo')).split('=')[1];
    $('#thumbnail-pic').attr('src', `${thumbnail}`);

    var global_userName = document.cookie.split('; ').find(row => row.startsWith('username')).split('=')[1];
    $('#global_userName').text(global_userName);

    $("#btnSidebarToggle").on('click',()=>{
        if(window.localStorage.getItem('collapseSidebarConfig')){
            window.localStorage.removeItem('collapseSidebarConfig');
        }else{
            window.localStorage.setItem('collapseSidebarConfig', true);
        }
        $("#sidebar").toggleClass('toggle');
        $("#btnSidebarToggle").toggleClass('toggle');
        $("#page-content-wrapper").toggleClass('toggle');
        
    });
    if(window.localStorage.getItem('collapseSidebarConfig')){
        $("#sidebar").toggleClass('toggle');
        $("#btnSidebarToggle").toggleClass('toggle');
        $("#page-content-wrapper").toggleClass('toggle');
    }
</script>